@import './_fonts.scss';

@import './_vars.scss';

.btn,
input {
    border-radius: 0!important;
}

@import "~bootstrap/scss/bootstrap";

body {
    color: map-get($theme-colors, "dark" );
}

main {
    min-height: 670px;
}